.card__image {
    width: 250px;
    height: 190px;
    border-radius: 50px;
    background: linear-gradient(to bottom right,rgb(57, 57, 194), pink);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 150px;
}

.cards {
    background: linear-gradient(to bottom right, #1e074f, #160B25);
    width: 300px;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    border-radius: 30px;
}

.card__title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 25px;
}

.cards {
    margin: 30px;
    cursor: pointer;
}